@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h2 {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgb(28, 32, 34);
  color: rgb(184, 185, 186);
  height: 100vh;
}

body * {
  box-sizing: border-box;
}

button {
  background: white;
  padding: 8px 20px;
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}

button.active {
  background: #03a9f4;
  color: black;
}
